
.annual-plan {
    display: flex;
    justify-content: space-between;
    font-size: 1.75rem;
    background-color: var(--color__4450);
    border-radius: 11px;
    align-items: center;
    padding: 2rem;
  }
  
  .annual-plan__content--left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: solid 1px blue
  }
  
  .annual-plan__content--right {
      /* margin-right: 2rem; */
      border: solid 1px green;
}

.annual-plan__label, .annual-plan__price {
    padding-left: 2.5rem;
    padding-bottom: .375rem;
    /* font-size: 1rem; */
}

.annual-plan__label {
    font-weight: 900;
    color: var(--color__0200);
}

.annual-plan__price {
    font-weight: 500;
    color: var(--color__3100);
}

.annual-plan__change_link {
    color: var(--color__1200);
    text-decoration: none;
    font-weight: 700;
    transition: color 0.3s ease-out;
  }

  .annual-plan__change_link:hover {
    color: var(--color__1300);
    transition: color 0.2s ease-in;
  }