
h1 {
    text-align: center;
    padding: 4rem 0vh 2rem 0rem;
    font-weight: 900;
    color: var(--color__0200);
    font-size: 3rem;
  }
  
  p {
    text-align: center;
    font-weight: 500;
    font-size: 2rem;
    color: var(--color__3100);
    padding: 2rem;
  }

  