@import url(./theme.css);
@import url(./btn.css);
@import url(./annual-plan.css);

.attribution {
  font-size: 0.5rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

html {
  display: flex;
  font-family: var(--font-primary);
  padding: 2rem;
}

.bg__image {
  background: url("/public/images/pattern-background-mobile.svg") no-repeat
    center/cover;
  margin: 0px;
  height: 50%;
}

body {
  background-color: var(--color__4400);
}

.container-out {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.container-in {
  border: solid black;
  padding: 3rem;
}

@media (min-width: 500px) {
  .bg__image {
    background: url("/public/images/pattern-background-desktop.svg");
  }
}

.hero {
  border-radius: 11px 11px 0px 0px;
}

h1 {
  text-align: center;
  padding: 4rem 0vh 2rem 0rem;
  font-weight: 900;
  color: var(--color__0200);
  font-size: 3vh;
}

p {
  text-align: center;
  font-weight: 500;
  font-size: 2vh;
  color: var(--color__3100);
  padding: 2vh;
}

/*
 html {
  font-size: 2rem;
  color: green;
}

html a {
  font-size: 2rem;
  font-family: var(--font-primary);
}

body::first-letter {
  color: blue;
  float: left;
  font-size: 2.6em;
  font-weight: bold;
  line-height: 1;
  margin-inline-end: 0.2rem;
}
 */
